/******************************Index.html tags******************/
body{
	background-color: black;
	color: white;
}
td img{
	border: solid;
	border-width: 1px;
	border-color: white;
	width: 64px;
	height: 64px;
}
/******************Editing some bootstrap CSS styles***************/
.table-hover > tbody > tr:hover {
	background-color:#ffe3ae;
}
a:link {
	color: #ffa051;
}
a:visited {
	color: #ffa051;
}
a:hover {
	color: #ffa051;
}
a:active {
	color: #ffa051;
}
/*Changing navbar colors*/
.navbar{
	border: none;
	color: white;
}
.navbar-default .navbar-brand{
	color: white;
}
.container-fluid{
	background-color: #ED1B24;
}
/*Setting logo image inside navbar*/
@media (max-width: 767px) { 
	.navbar-brand {
		padding: 0;
	}

	.navbar-brand img {
		margin-top: 5px;
		margin-left: 5px;
	}
}
.navbar-brand{
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;
}
/********************************Inicio.html tags***********************/
.accountRow{
	background-color: #ED1B24;
	width: 100%;
}
span{
	display: block;
	margin-bottom: -20px;
}
input{
	width: 100%;
}
.accountRowTitle{
	margin-top: 30px;
	font-weight: bolder;
	font-size: 20px;
}
.inputText{
	font-size: 10px;
}
/*Change input colors*/
::-webkit-input-placeholder { 
	color:#8d8d8d;
}
:-moz-placeholder {
	color: #8d8d8d;
}
::-moz-placeholder {
	color:#8d8d8d;
}
:-ms-input-placeholder {
	color:#8d8d8d;
}
input, select, textarea{
	color: black;
	font-size: 18px;
}
textarea:focus, input:focus {
	color: black;
}
.blackButton{
	background-color:black;
	border-radius: 0px;
	border: none;
	width: 150px;
}
/*Spacing the submit button*/
.submitDiv{
	margin-top: 50px;
}

.inicioInput{
	margin-top: 20px;
	margin-bottom: 20px;
}

/************************listsongs.html Tags*************************/

.tableBackground{
	background-color: white;
}
.dataColor{
	color: #ffa051;
}