<div class="container">
	<div class = "row">
		<div class ="col-md-2"></div>
		<div class ="col-md-8">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="sketch/hardwell-01.png" alt="Hardwell">
				</div>
				<div class="item">
					<img src="sketch/shakira-01.png" alt="Shakira">
				</div>
				<div class="item">
					<img src="sketch/u2-01.png" alt="U2">
				</div>
			</div>
			</div>
		</div><!--carousel col-md-->
		<div class ="col-md-2"></div>
	</div><!--first row-->
	<div class="row accountRow">
		<div class="col-md-2"><img src="sketch/last_fm_logo.png" width="150px;"></div>
		<div class="col-md-8 text-center">
			<div ng-show="currentUser">
				<p>
					<h1>Bienvenido <strong><u>{{currentUser.get('username')}}</u></strong></h1>
					<button onclick="location.href='#/listsongs'" class="blackButton">Listado de canciones</button>
					<button ng-click="logOut(user)" class="blackButton">Cerrar sesion</button>
				</p>
			</div>
			<table class="table" ng-hide="currentUser">
				<thead>
					<tr>
						<td class="text-center accountRowTitle">Ingresar</td>
						<td class="text-center accountRowTitle">Crea tu perfil</td>
					</tr>
				</thead>
				<tbody ng-app>
					<tr>
						<td>
							<!--Login form-->
							<form>
								<span class="inputText">Nombre</span>
								<input type="text" ng-model="user.username" placeholder="Nombre" class="inicioInput"/>
								<span class="inputText">Contraseña</span>
								<span><input type="password" ng-model="user.password" placeholder="Contraseña"class="inicioInput"/></span>
								<p ng-click="forgotPass=true">¿Olvidaste tu contraseña?</p>
								<p ng-show="forgotPass"><strong>Plop! Pos que mal.</strong></p>
								<div class="text-center submitDiv"><button ng-click="logIn(user, '/listsongs')" class="blackButton">Ingresar</button></div>
							</form>
						</td>
						<td>
							<!--Register form-->
							<form>
								<span class="inputText">Nombre</span>
								<span><input type="text" ng-model="user.username" placeholder="Nombre" class="inicioInput"/></span><br>
								<span class="inputText">Correo Electronico</span>
								<span><input type="email" ng-model="user.email" placeholder="Correo Electronico" class="inicioInput"/></span><br>
								<span class="inputText">Contraseña</span>
								<span><input type="password" ng-model="user.password" placeholder="Password" class="inicioInput"></span>
								<div>Your password status:<br> {{passStrength}}</div>
								<div class="text-center submitDiv"> <button ng-click="signUp(user, '/listsongs')" class="blackButton">Confirmar</button></div>
							</form>
						</td>
					</tr>

				</tbody>
			</table>
			
		</div>
		<!--div class="col-md-2"><a href="#/listsongs/">go to list songs</a></div-->
	</div><!--Second row--->
</div><!--container-->
